@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body {
	margin: 0;
	background-color: black;
	font-family: 'Inter';
}

.container {
	background-color: #1F2937;; 
	width: 550px;
	height: 550px;
	margin: auto;
	padding-top: 120px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
}

.main {
	border-bottom: 1px solid #273549;
	color: white;
}

h1 {
	font-size: 40px;
	line-height: 40px;
	font-weight: 800;
	margin-bottom: 0;

}

.title-2 {
	color: #10B981;
}

.main p {
	font-size: 1.35em;
	color: #D5D4D8;
	margin-top: 5px;
}

.inputs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.btn-main {
	display: inline-flex;
	background-color: #10B981;
	color: white;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	width: 220px;
	height: 40px;
	padding: 0;
	margin: 20px 20px 10px 0;
	overflow: hidden;
	cursor: pointer;
}

button:active {
	background-color: #006E58;
}

.button-text,
.button-icon {
	display: inline-flex;
	align-items: center;
	padding: 0 5px;
}

.passwords button {
	background-color: #273549;
	color: #10B981;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: default;
}

.pwd-length {
	display: inline-flex;
	flex-direction: column;
	margin-left: 50px;
	align-items: center;
}

.pwd-length label {
	font-size: 12px;
	color: #D5D4D8;
}

.pwd-length input {
	background-color: #273549;
	border: none;
	color: #D5D4D8;
	font-size: 20px;
	width: 30px;
	text-align: center;
	margin-top: 5px;
}

.input-ctl {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
}

.ctl {
	border: none;
	font-size: 26px;
	margin-top: 5px;
	background-color: #10B981;
	line-height: 18px;
	border-radius: 50%;
	padding: 0;
	aspect-ratio: 1;
	color: #1F2937;; 
}